body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #FEFEFE;
}

input {
  padding: 5px;
}

.center {
  justify-content: center;
  align-items: center;
}

.row {
  flex-wrap: wrap;
}

.row.justify-between {
  justify-content: space-between;
}

.row .column.module {
  margin: 2rem 1rem;
}

.progress {
  padding-bottom: 2rem;
  border-bottom: 1px solid lightgra
}
.progress-container {
  margin: 1rem 0;
  height: 2rem;
  background: rgba(0, 0, 0, .05);
  border-radius: 2rem;
}

.progress-bar {
  background-color: #9b4dca;
  height: 2rem;
  border-radius: 2rem;
  transition: all 500ms ease-in-out;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-number {
  position: absolute;
  color: #FFF;
  font-weight: bold;
  font-size: 1rem;
}

.progress-names {
  font-size: 1.2rem;
}

.module {
  background-color: #FFF;
  box-shadow: rgba(0, 0, 0, 0.10) 0px 10px 18px 4px;
}

.module-entry {
  display: block;
}

.module-desc {
  font-style: italic;
  margin-bottom: 2rem;
}

.module-name {
  font-weight: bold;
}

.module-actions {
  margin-top: 2rem;
}

.button-archive {
  margin-left: 1rem;
  background-color: #e67e22;
  border-color: #e67e22;
}

.status {
  font-size: 1rem;
  margin-left: auto;
}

.module-lessons {
  font-size: 1.3rem;
  border-top: 1px solid lightgray;
  margin-top: 1rem;
  padding-top: 1rem;
}

input[type='checkbox'], input[type='radio'] {
  margin-bottom: 0;
}

.lessons-list ul {
  list-style-type: none;
}

.lessons-list li {
  margin-bottom: .5rem;
}

.lessons-list .lesson-done label::after {
  content: '';
  position: absolute;
  width: 100%;
  top: 50%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.25);
  transform: translateY(-50%);
}

.lessons-list label {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1 0 45%;
  max-width: 45%;
  font-weight: 500;
  font-size: 1.3rem;
  margin-top: .5rem;
}

.lessons-list--small label {
  flex: 1 0 100%;
  max-width: 100%;
}

.lessons-list label::before {
  content: ' >';
  font-weight: bold;
  font-size: 1rem;
  margin-right: 1rem;
}

.lesson-level {
  font-weight: bold;
  margin-left: auto;
  margin-right: .5rem;
}

.module-creator {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding-top: 1rem;
  margin-bottom: 2rem;
}

form {
  width: 75%;
  margin: 0 auto;
}

.labels {
  display: flex;
  justify-content: space-between;
}

.lessons-list ul:empty {
  margin: 0;
}

.lessons-container p {
  margin-bottom: 0;
  border-bottom: 1px solid lightgray;
  margin-bottom: 1rem;
}

.add-container {
  display: flex;
  justify-content: center;
}

.add-lesson {
  background-color: #3498db;
  border-color: #3498db;
  font-size: .8rem;
  padding: 0 1.5rem
}